<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023 Macula
  ~   macula.dev, China
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.macula.cloud.iam.mapper.SysRoleMapper">


    <!-- 获取最大范围的数据权限 -->
    <select id="getMaximumDataScope" resultType="java.lang.Integer">
        SELECT
        min(data_scope)
        FROM
        sys_role
        <where>
            <choose>
                <when test="roles!=null and roles.size>0">
                    AND code IN
                    <foreach collection="roles" item="role" separator="," open="(" close=")">
                        #{role}
                    </foreach>
                </when>
                <otherwise>
                    id = -1
                </otherwise>
            </choose>
        </where>

    </select>
</mapper>
