<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.macula.cloud.system.mapper.SysMenuTenantMapper">

    <!-- 根据菜单名字获取可显示的顶级菜单id集合 -->
    <select id="listShowMenuParentIdByName" resultType="java.lang.Long">
        SELECT DISTINCT (getSystemMenuShowParentId(id,parent_id))
        FROM
        sys_menu_tenant t1
        WHERE
        t1.name like concat('%', #{keywords}, '%')
    </select>
</mapper>
