<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.macula.cloud.system.mapper.SysPermissionMapper">

    <resultMap id="PermRolesMap" type="dev.macula.cloud.system.pojo.entity.SysPermission">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="menuId" column="menu_id" jdbcType="BIGINT"/>
        <result property="urlPerm" column="url_perm" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="lastUpdateBy" column="last_update_by" jdbcType="VARCHAR"/>
        <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
        <collection property="roles" ofType="String" javaType="list">
            <result column="code"/>
        </collection>
    </resultMap>

    <!-- 获取权限分页列表 -->
    <select id="listPermPages" resultType="dev.macula.cloud.system.vo.perm.PermPageVO">
        SELECT
        t1.id,
        t1.menu_id,
        t2.name as menu_name
        t1.name,
        t1.url_btn
        FROM
        sys_permission t1
        LEFT JOIN sys_menu t2 ON t1.menu_id = t2.id
        <where>
            <if test='queryParams.name != null and queryParams.name.trim() neq ""'>
                and t1.name like concat('%',#{queryParams.name},'%')
            </if>
            <if test='queryParams.menuId !=null '>
                and t1.menu_id = #{queryParams.menuId}
            </if>
        </where>
        ORDER BY t1.id DESC
    </select>

    <!-- 权限<->有权限的角色集合 -->
    <select id="listPermRoles" resultMap="PermRolesMap">
        SELECT t1.id,
               t1.name,
               t1.menu_id,
               t1.url_perm,
               t3.code
        FROM sys_permission t1
                 LEFT JOIN sys_role_permission t2 ON t1.id = t2.permission_id
                 LEFT JOIN sys_role t3 ON t2.role_id = t3.id
    </select>
</mapper>
