<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.macula.cloud.system.mapper.SysTenantInfoMapper">

    <!-- 租户映射 -->
    <resultMap id="TenantMap" type="dev.macula.cloud.system.pojo.bo.TenantBO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="DATE"/>
        <collection property="supervisor" column="id" ofType="dev.macula.cloud.system.pojo.bo.TenantUserBO" javaType="list" select="selectUserByTenantId">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username"/>
        </collection>
    </resultMap>

    <!-- 租户分页列表 -->
    <select id="listTenantPages" resultMap="TenantMap">
        SELECT
        id,
        name,
        code,
        description,
        create_time
        FROM  sys_tenant_info t
        WHERE t.id in (
        SELECT
        t.id
        FROM
        sys_tenant_info t
        LEFT JOIN
        sys_tenant_user tu
        ON
        t.id = tu.tenant_id
        LEFT JOIN
        sys_user u
        ON
        tu.user_id = u.id
        <where>
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                t.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                OR t.code LIKE CONCAT('%',#{queryParams.keywords},'%')
                OR u.username LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
        </where>
        group by t.id
        )
        order by t.create_time desc
    </select>

    <select id="selectUserByTenantId" resultType="dev.macula.cloud.system.pojo.bo.TenantUserBO">
        select id, username from sys_tenant_user tu left join sys_user u on tu.user_id = u.id where tu.tenant_id = #{id} and u.deleted = 0
    </select>

</mapper>
