<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.macula.cloud.tinyid.mapper.TinyIdInfoMapper">

    <update id="updateMaxId">
        UPDATE tiny_id_info
        SET max_id = #{newMaxId},
            update_time = NOW(),
            version = version + 1
        WHERE id = #{id}
          AND max_id = #{oldMaxId}
          AND version = #{version}
          AND biz_type = #{bizType}
    </update>

</mapper>
